.container-hexagon {
    background: url(../images/hexagon-icon.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    margin: 20px auto;
}

.container-content {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 30;
}

.container-tiles {
    position: relative;
    z-index: 30;
}

.content-tile {
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-tile-image {
    padding: 0px;
    overflow: hidden;
}

.content-background-gray {
    background: #e0e0e0;
}

.content-background-green {
    background: #6fbd22;
    color: white;
}

.content-background-red {
    background: #ff6262;
    color: white;
}

.content-background-dark-blue {
    background: #1A3A53;
}

.content-background-dark-gray {
    background: #0B1B27;
}

.content-background-image {
    background: #e0e0e0;
    background-size: cover;
}

.content-background-white {
    background: #fff;
}

.content-header-middle {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.content-paragraph-middle {
    text-align: center;
    font-size: 22px;
}

.container-wood {
    background: url(../images/bg-wood.jpg);
    position: relative;
    z-index: 30;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-wood {
    background: url(../images/bg-wood.jpg);
}

.container-request-call {
    height: 400px;
    background: transparent;
    display: flex;
    justify-content: center;
}

.block-request-call {
    margin: auto;
    text-align: center;
}

#container-request-call-parallax {
    z-index: 5;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
}

.text-white {
    color: white;
}

.btn-rectangle {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: normal;
    padding: 12px 72px;
    cursor: pointer;
    margin: 0;
    border: 0;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn-red {
    color: #ffffff;
    background-color: #f01418;
    -webkit-box-shadow: 0 8px 15px 0 rgba(240, 20, 24, 0.4);
    box-shadow: 0 8px 15px 0 rgba(240, 20, 24, 0.4);
}

.btn-red:active, .btn-red:hover {
    background-color: #db1b1e;
}

.btn-green {
    color: #ffffff;
    background-color: #6fbd22;
    -webkit-box-shadow: 0 8px 15px 0 rgba(57, 240, 20, 0.4);
    box-shadow: 0 8px 15px 0 rgba(85, 240, 20, 0.4);
}

.btn-green:hover {
    background-color: #87d638;
}

.btn-green:active {
    background-color: #62a520;
}

.container-image-tile {
    display: flex;
    flex-wrap: wrap;
}

.block-image-tile {
    flex-basis: 33.333333333%;
    overflow: hidden;
    position: relative;
}

.block-image-tile-img {
    position: relative;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.block-image-tile:hover .block-image-tile-img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.block-image-tile:hover .block-image-tile-info {
    bottom: 0px;
}

.block-image-tile-img img {
    height: 100%;
}

.block-image-tile-info {
    position: absolute;
    z-index: 15;
    bottom: -110px;
    height: 110px;
    background: rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    width: 100%;
}

.container-footer-feedback {
    text-align: center;
}

.default-input {
    padding: 0 19px;
    position: relative;
    height: 40px;
    border: 0px;
}

.dark-input {
    background: #152E42;
    border-bottom: 1px solid #486175;
    color: white;
}

.margin-middle-bottom {
    margin-bottom: 20px;
}

.margin-middle-top {
    margin-top: 20px;
}

.footer-feedback-field {
    margin-bottom: 15px;
}

@media (max-width: 768px) {

    .block-image-tile {
        flex-basis: 50%;
    }

    .footer-feedback-field {
        display: flex;
        justify-content: center;
    }

}

/*----------- FOOTER -----------*/

.footer-menu-title {
    font-weight: 500;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 18px;
}

.footer-menu-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.footer-menu-list li {
    color: #888;
    margin-bottom: 15px;
}

.footer-menu-contact {
    display: flex;
    margin-bottom: 15px;
}

.footer-contact-text {
    color: #FFF;
    display: flex;
    align-items: center;
}

.footer-contact-icon {
    font-size: 26px;
    color: #f01418;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.content-background-darkness {
    background: #09161f;
}

.container-footer-map {
    display: none;
    position: relative;
    z-index: 30;
}

.container-map-contact {
    position: absolute;
    background: #0b1b27;
    padding: 10px 35px;
    margin: 30px;
}

#footer-map {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

/*----------- IMAGES -----------*/
.back-image-one {
    background-image: url(../images/1.jpg)
}

.back-image-two {
    background-image: url(../images/3.jpg)
}

.back-image-three {
    background-image: url(../images/5.jpg)
}

.footer-feedback-field .form-group input {
    width: 208px;
    height: 40px;
    border-radius: 0;
}

.footer-feedback:before {
    content: "";
    background-color: #f01418;
    -webkit-box-shadow: 0 8px 15px 0 rgba(240, 20, 24, 0.4);
    box-shadow: 0 8px 15px 0 rgba(240, 20, 24, 0.4);
}

#footer-feedback lable {
    font-weight: bold;
}

#container-request-call-parallax {
    height: 1000px;
    background: url(../images/paralax-demo.png) repeat-y;
    background-size: cover;
}
