.container-sliders {
    height: 500px;
    overflow: hidden;
}

.slick-slide img {
    width: 100%;
}

.slick-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 30;
    background: #6fbd22;
    top: 50%;
}

.slick-prev-arrow {
    left: 20px;
}

.slick-next-arrow {
    right: 20px;
}

#container-sliders-parallax {
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
    height: 500px;
}

.main-slider-item {
    position: relative;
}

.slider-title {
    position: absolute;
    left: 30%;
    color: white;
}

.title-top {
    top:10%;
}